#advantages{
    height: 100px;
    background-color: #2C2C39;
}

.advantages-wrapper{
    height: 100%;
    max-width: 1400px;
    margin: 0px auto;
}


.fa-medal{
    padding-right: 20px;
    width: 100%;
    height: 50%;
    font-size: 40px;
    border-radius: 50%;

}

.advantage-single{
    align-items: center;
    padding: 50px 50px 50px 0px;
}

.advantage-single-info h5{
    font-size: 14px;
    color: rgba(165, 165, 165, 1);
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 3px;
    
}

.advantage-single-info p{
    font-size: 13px;
    color: rgba(118, 114, 114, 1);
   
}
.advantages-wrapper {
    justify-content: center;
}

.footer-advantage-single {
    padding-top: 20px;
}

@media screen and (min-width: 760px) and (max-width: 1024px){
    #advantages{
        height: 200px;
    }
    .advantage-single{
        padding-top: 0px;
        padding-bottom: 0px;
    }


}

@media screen and (min-width: 320px) and (max-width: 759px){
    
    #advantages{
        height: 200px;
    }
    .advantage-single{
        padding-top: 0px;
        padding-bottom: 0px;
        padding-right: 0px;
        margin-right: 20px;
    }

    .advatantages-wrap{
        flex-wrap: wrap;
    }
    
   
    
}