*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.nonwrap-row {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.column {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.nonwrap-column {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}
.col-12{
    width: 100%;
}

.col-6 {
    width: 49%;
}
.col-7{
    width: 57%;
}
.col-5{
    width: 40%;
}

.col-4{
    width: 33%;
}

.col-2{
    width: 16.66%;
}



.col-10{
    width: 83.33%;
}

.col-8{
    width: 66.66%;
}

.col-3{
    width: 25%;
}

.d-flex{
    display: flex;
}
.col-9{
    width: 75%;
}

.container-90 {
    width: 90%;
    margin: 0 auto;
}
.container-70{
    width: 70%;
    margin: 0 auto;
}

.container-80{
    width: 80%;
    margin: 0 auto;
}
.container-85{
    width: 85%;
    margin: 0 auto;
}


.title-devider{
    display: block;
    max-width: 50px;
    height: 1px;
    background: rgba(42, 184, 88, 1);
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-left: auto;
    margin-right: auto;
    
}

.title-devider-left{
    display: block;
    max-width: 50px;
    height: 1px;
    background: rgba(42, 184, 88, 1);
    margin-top: 10px;
    margin-bottom: 10px;
   
}

a:hover{
    color: gray
}